In [1]:
print("hola")

hola

#### Fundamentos de python
 * Variables
 * Operadores matemáticos
 * Operadores lógicos
 * Operadores de comparación
 * Estructuras de control
    - Condicionales simples
    - Condicionales anidados
    - Condicionales encadenados
    - Ciclos finitos 
    - Ciclos infinitos
* Funciones
* Estructuras de datos
    - Cadenas de caracteres
    - Listas
    - Tuplas
    - Diccionarios

### Variables

In [5]:
name = "josefino"
name

'josefino'

In [6]:
lastname = "primero"

In [7]:
last_name = "primero"

In [8]:
last-name = "primero"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (906108882.py, line 1)

In [9]:
last.name = "primero"

NameError: name 'last' is not defined

In [11]:
LastName = "primero2"

In [13]:
last_name
LastName

'primero2'

In [14]:
lastName = "primero3"

In [15]:
qwert = 23
asdfg = 10
zxcvb = qwert * asdfg

zxcvb

230

In [16]:
base = 23
height = 10

area = base * height
area

230

In [23]:
print("área:", area)
print("apellido:", last_name)
print("base del triangulo", base)

área: 230
apellido: primero
base del triangulo 23

#### Operadores matemáticos básicos

In [28]:
# suma
number_1 = 10
number_2 = 20
result = number_1 + number_2
print("El resultado de la suma es:", result)

El resultado de la suma es: 30

In [29]:
# resta
number_1 = 10
number_2 = 20
result = number_1 - number_2
print("El resultado de la resta es:", result)

El resultado de la resta es: -10

In [30]:
# multiplicación
number_1 = 10
number_2 = 20
result = number_1 * number_2

print("El resultado de la multiplicación es:", result)

El resultado de la multiplicación es: 200

In [31]:
# división
number_1 = 10
number_2 = 20
result = number_1 / number_2
print("El resultado de la división es:", result)

El resultado de la división es: 0.5

In [35]:
print( type(last_name) )
print( type(number_1) )
print( type(result) )

<class 'str'>
<class 'int'>
<class 'float'>

In [37]:
20 + 20

40

### Estructuras de control

In [6]:
name1 = "pablo"
age = 16

In [ ]:
# if condicion:
#   print("saludos")

In [8]:
# condicional simple
if (age > 15):
    print("puedes pasar")

puedes pasar

In [ ]:
# operadores de comparación
# mayor que >
# menor que <
# mayor igual >=
# menor igual <=
# igual? ==
# diferente? !=

In [16]:
# condicional simple
name1 = input("Ingrese su nombre: ")
age = input("Igrese su edad: ")
#age = int(age)
age = float(age)

if (age > 15):
    print("puedes pasar", name1)

puedes pasar josefino

In [17]:
type(age)

float

In [18]:
age

21.0

In [ ]:
# Operadores lógicos
# and
# or 
# not

In [20]:
# condicional simple
name1 = input("Ingrese su nombre: ")
age = int(input("Igrese su edad: "))
day = input("Ingrese día de la semana: ")
#age = int(age)

if (age > 15):
    if day == "sabado":
        print("puedes pasar", name1)

puedes pasar josefino

In [21]:
# condicional simple
name1 = input("Ingrese su nombre: ")
age = int(input("Igrese su edad: "))
day = input("Ingrese día de la semana: ")
#age = int(age)

if (age > 15) and (day == "sabado"):
    print("puedes pasar", name1)

puedes pasar josefino

In [23]:
# condicional simple
name1 = input("Ingrese su nombre: ")
age = int(input("Igrese su edad: "))
day = input("Ingrese día de la semana: ")
#age = int(age)

if (age > 15) and (day == "sabado") or (day == "viernes"):
    print("puedes pasar", name1)

puedes pasar jose

In [30]:
# condicional simple
name1 = input("Ingrese su nombre: ")
age = int(input("Igrese su edad: "))
day = input("Ingrese día de la semana: ")
#age = int(age)

if (age > 15) and (day == "sabado" or "viernes"):
    print("puedes pasar", name1)

In [33]:
# condicional simple
name1 = input("Ingrese su nombre: ")
age = int(input("Igrese su edad: "))
day = input("Ingrese día de la semana: ")
#age = int(age)

if (age > 15 and day == "sabado") or\
        (age > 15 and day == "viernes"):
    print("puedes pasar", name1)

puedes pasar jose

In [32]:
# condicional simple
name1 = input("Ingrese su nombre: ")
age = int(input("Igrese su edad: "))
day = input("Ingrese día de la semana: ")
#age = int(age)

if (age > 15) and (day == "sabado" or day =="viernes"):
    print("puedes pasar", name1)

In [34]:
# condicional simple
name1 = input("Ingrese su nombre: ")
age = int(input("Igrese su edad: "))
day = input("Ingrese día de la semana: ")
#age = int(age)

if (age > 15): 
    if (day == "sabado") or (day =="viernes"):
        print("puedes pasar", name1)

puedes pasar 21

In [35]:
# condicional simple
name1 = input("Ingrese su nombre: ")
age = int(input("Igrese su edad: "))
day = input("Ingrese día de la semana: ")
#age = int(age)

if (age > 15):
    print("puedes pasar", name1)
else:
    print("fuera de aqui", name1)
    
    # if (day == "sabado") or (day =="viernes"):
    #     print("puedes pasar", name1)

fuera de aqui jose

In [38]:
# condicional simple
name1 = input("Ingrese su nombre: ")
age = int(input("Igrese su edad: "))

#age = int(age)

if (age > 15):
    day = input("Ingrese día de la semana: ")
    
    if (day == "sabado") or (day =="viernes"):
        print("puedes pasar", name1)
    else:
        print("no es sabado ni viernes")
else:
    print("menor de 15")

menor de 15

#### Condicionales encadenados

In [43]:
# condicional simple
# name1 = input("Ingrese su nombre: ")
# age = int(input("Igrese su edad: "))
day = input("Ingrese día de la semana: ")

if day == "lunes":
    print("Voy al cine")

elif day == "martes":
        print("voy al gym")

elif day == "miercoles":
        print("voy al mercado")

elif day == "jueves":
        print("voy al padel")

elif day == "viernes":
        print("voy de farra")
else:
    print("Fin de semana")

voy al padel

#### Ciclos finitos -> for

In [52]:
# for var in range(start, stop, step):
for var in range(5,11,2):
    if var == 5:
        print("encontre el ", var)

encontre el  5

In [53]:
# listas
name_list = ["jose", "maria", "pedro"]

In [54]:
len(name_list)

3

In [55]:
type(name_list)

list

In [56]:
name_list.append("pablo")

In [60]:
name_list.append("jose")

In [61]:
name_list

['jose', 'maria', 'pedro', 'pablo', 'jose']

In [62]:
name_list.count("jose")

2

In [63]:
name_list.sort()

In [64]:
name_list

['jose', 'jose', 'maria', 'pablo', 'pedro']

In [65]:
name_list_2 = name_list.copy()

In [66]:
name_list_2

['jose', 'jose', 'maria', 'pablo', 'pedro']

In [68]:
# recorrer la lista
for name in name_list:
    if name == "maria":
        print("maria te encontre")

maria te encontre

In [71]:
name_list[3]

'pablo'

In [72]:
print(name_list)

['jose', 'jose', 'maria', 'pablo', 'pedro']

In [75]:
name_list[0:3]

['jose', 'jose', 'maria']

In [76]:
name_list[:3]

['jose', 'jose', 'maria']

In [78]:
name_list

['jose', 'jose', 'maria', 'pablo', 'pedro']

In [82]:
name_list[-1]

'pedro'

In [84]:
name_list[-4:-1]

['jose', 'maria', 'pablo']

In [81]:
name_list[2:4]

['maria', 'pablo']

In [87]:
len(name_list)

5

In [89]:
# recorrer la lista por el indice
for name in range(len(name_list)):
    print(name_list[name])

jose
jose
maria
pablo
pedro